; EditorConfig helps developers define and maintain consistent
; coding styles between different editors and IDEs.

; For more visit http://editorconfig.org.
root = true

; Choose between lf or rf on "end_of_line" property
[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
indent_size = 4


[*.cs]
indent_size = 4

[*.json]
indent_size = 2