*.doc  diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain

*.jpg  	binary
*.png 	binary
*.gif 	binary

core.eol crlf

*.cs diff=csharp 

*.csproj merge=union 
*.vbproj merge=union 
*.fsproj merge=union 
*.dbproj merge=union 
*.sln merge=union
