<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="LightInject" version="3.0.2.2" targetFramework="net45" />
  <package id="LightInject.ServiceLocation" version="1.0.0.2" targetFramework="net45" />
</packages>