<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fixie" version="1.0.0.3" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Shouldly" version="2.4.0" targetFramework="net451" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net451" />
</packages>