<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="portable-net40+sl50+wp80+win+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="portable-net40+sl50+wp80+win+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="portable-net40+sl50+wp80+win+MonoAndroid10+MonoTouch10" />
</packages>